* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*background-color: var(--main-background);
    */
    font-family: var(--main-font-full);
}


section {
    background-color: var(--main-background);
}


#home {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1024px;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    color: var(--main-branco);
    margin: 5px;
    padding: 5px;
}

.btn-primary {
    cursor: pointer;
    border-radius: 8px;
    size: 15px;
    border: none;
    color: var(--main-branco);
    width:84px;
    height:32px;
    background-color: #d91823;
}

.btn-secundary {
    cursor: pointer;
    border-radius: 8px;
    size: 15px;
    border: none;
    color: var(--main-branco);
    width:84px;
    height:32px;
    background-color: black;
}


.caixa-h1 {
    display: flex;
    justify-content: center;
    color: var(--main-branco);
    padding-top: 15vh;
}

.caixa-h1 h1 {
    font-size: 50px;
    text-align: center;
}

.caixa-h1 p {
    color: rgba(255,255,255, 0.7);
    text-align: center;
}

.button-group {
    padding: 10px;
    display: flex;
    justify-content: center;
}

